

.best-section {
  background: #020922; 
  padding: 72px 0 80px;
  color: #ffffff;
}


.best-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.best-header h2 {
  font-size: 28px;
  font-weight: 700; 
}


.best-signup-btn {
  padding: 10px 26px;
  border-radius: 5%;
  border: 3px solid #ffffff;
  background: transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}


.best-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 28px;
}


.best-card {
  position: relative;
}



.best-card {
  position: relative;
  padding: 30px; 
}

.best-card-blob {
  position: absolute;
  z-index: 0;
  border-radius: 32px;
  pointer-events: none;
}

.card1-left {
  width: 100px;
  height: 200px;
  background: #d84282;
  left: 0px;     
  top: 110px;
}

.card2-blue-corner {
  width: 120px;
  height: 120px;
  background: #0c78c7;
  left: 10px;     
  top: 10px;
}

.card3-green-right {
  width: 110px;
  height: 190px;
  background: #32a852;
  right: 0px;    
  top: 80px;
}

.card3-purple-bottom {
  width: 140px;
  height: 50px;
  background: #a93bd8;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;  
}


.best-card-inner {
  position: relative;
  z-index: 1;
  background: #050d28;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  box-shadow:
    0 10px 25px rgba(255, 255, 255, 0.15),   
    -10px 10px 25px rgba(255, 255, 255, 0.10), 
    10px 10px 25px rgba(255, 255, 255, 0.10);  
}


.best-card-image-wrapper {
  height: 190px;
  overflow: hidden;
}

.best-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.best-card-body {
  padding: 18px 20px 20px;
  border-top: 1px solid rgba(148, 163, 184, 0.1);
}

.best-card-body h3 {
  margin: 0 0 6px;
  font-size: 16px;
  font-weight: 500;
}

.best-card-body p {
  margin: 0 0 18px;
  font-size: 13px;
  color: #d1d5db;
}


.best-buy-btn {
  width: 100%;
  padding: 10px 16px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.best-buy-icon {
  font-size: 14px;
}


@media (max-width: 900px) {
  .best-cards {
    grid-template-columns: 1fr;
  }

 
  .best-card-blob {
    display: none;
  }
}
